@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
}

.wrapper .btn {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-decoration: none;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}

.wrapper .btn:hover {
  width: 200px;
}

.wrapper .btn .icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  color: #000;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}

.wrapper .btn:nth-child(1):hover .icon {
  background: #4267B2;
}

.wrapper .btn:nth-child(2):hover .icon {
  background: #1DA1F2;
}

.wrapper .btn:nth-child(3):hover .icon {
  background: #E1306C;
}

.wrapper .btn:nth-child(4):hover .icon {
  background: #333;
}

.wrapper .btn:nth-child(5):hover .icon {
  background: #ff0000;
}

.wrapper .btn .icon i {
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}

.wrapper .btn:hover .icon i {
  color: #fff;
}

.wrapper .btn span {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}

.wrapper .btn:nth-child(1) span {
  color: #4267B2;
}

.wrapper .btn:nth-child(2) span {
  color: #1DA1F2;
}

.wrapper .btn:nth-child(3) span {
  color: #E1306C;
}

.wrapper .btn:nth-child(4) span {
  color: #333;
}

.wrapper .btn:nth-child(5) span {
  color: #ff0000;
}